<app-navbar></app-navbar>
<br><br><br><br><br><br>


<div class="container">
    <div class="page-header section-dark" style="background-image: url('assets/img/QQ.jpg')">


      <form #exampleForm="ngForm" (ngSubmit)="onUpdate(exampleForm)" >
          <div *ngIf="datas?.length > 0; else noItems">
              <div *ngFor="let data of datas">
                  <h1>{{data.workername}} Profile</h1>
          <input type="hidden" name="uid" [(ngModel)]="data.uid" class="form-control">
          <div class="form-group">
              <label>Worker Name</label>
              <input name="workername" [(ngModel)]="data.workername" class="form-control">
          </div>
          <div class="form-group">
              <label>ID Number</label>
              <input name="idNumber" [(ngModel)]="data.idNumber" class="form-control">
          </div>
          <div class="form-group">
              <label>Mobile</label>
              <input name="mobile" [(ngModel)]="data.mobile" class="form-control">
          </div>
          <div class="form-group">
              <label>E-Mail</label>
              <input name="email" [(ngModel)]="data.email" class="form-control">
          </div>
          <div class="form-group">
              <label>Job</label>
              <input name="jobType" [(ngModel)]="data.jobType" class="form-control">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-default btn-group-vertical ">Save</button>
          </div>
                  <div class="form-group">
                      <button (click)="delete(data.uid)" class="btn btn-danger btn-group-vertical ">Delete</button>
                  </div>
              </div>
          </div>
      </form>

</div>
</div>