<div *ngIf="datas?.length > 0; else noItems">
  <div *ngFor="let data of datas">
    <!--top nav bar-->
    <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
      <div class="container">

        <div class="navbar-translate">
          <div class="avatar">
            <a class="navbar-brand" href="http://localhost:4200">
              <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
                width="60">
            </a>
          </div>
        </div>

        <div class="navbar-translate">
          <ul class="navbar-nav ml-auto">
            <li>
              <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#exampleModal">
                Book ME
              </button>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
            </li>
            
          </ul>
        </div>


      </div>
    </nav>
    <br><br><br><br><br>
<br>

    <!-- Modal -->
    
   

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog justify-content-center" role="document" >
        <div class="modal-content" style="width: 800px;">
          <div class="modal-header" style="background-color:#fabf8f">
            <h5 class="modal-title" id="exampleModalLabel">Booking Me!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >

            <div align="center">
              <div class="card-body">
                <form>
                  <h6 class="heading-small text-muted mb-0">Worker information</h6>
                  <br>


                  <!-- ------------ -->
                  <div class="pl-lg-4">
                        <p><b>Worker Name:</b>    {{data.workername}}</p>
                        <p><b>Woker Email:</b>    {{data.email}}</p>
                        <p><b>Worker ID:</b>      {{data.idNumber}}</p>
                        <p><b>Contact Number:</b> {{data.mobile}}</p>
                  </div>

<!-- -------------------- -->
                  <hr class="my-10 width" />
                  <h6 class="heading-small text-muted mb-4">Contact information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-city">Name</label>
                          <input name="username" type="text" class="form-control" placeholder="Custmoer name"
                            (focus)="focus=true" (blur)="focus=false" #username required>

                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-country">Email</label>
                          <input name="useremail" type="text" class="form-control" placeholder="user email"
                            (focus)="focus=true" (blur)="focus=false" #useremail required>
                        </div>
                      </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-city">City</label>
                          <input name="usercity" type="text" class="form-control" placeholder="user city "
                            (focus)="focus=true" (blur)="focus=false" #usercity required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-country">Mobile Number</label>
                          <input name="mobilenumber" type="text" class="form-control" placeholder="Mobile Number"
                            (focus)="focus=true" (blur)="focus=false" #mobilenumber required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="my-4" />
                  <h6 class="heading-small text-muted mb-4">Booking Date</h6>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <!-- <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                               name="bookingdate" [(ngModel)]="model"  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true"
                                (blur)="focus=false" #bookingdate required >
                          <div class="input-group-append">
                              <span class="glyphicon glyphicon-calendar input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                              </span>
                          </div>
                      </div> -->
                        <input class="form-control" name="bookingdate" ngbDatepicker [minDate]="minDate" (click)="datePicker1.toggle()" #datePicker1="ngbDatepicker"  placeholder="yyyy-mm-dd" #bookingdate required>


                  </div>

                  </div>

                  

                  <hr class="my-4" />
                  <h6 class="heading-small text-muted mb-4">Description about the work </h6>
                  <div class="pl-lg-4">
                    <div class="form-group">
                      <!-- <label>Description about the work </label> -->
                      <textarea rows="4" class="form-control form-control-alternative" name="bookingdesc" type="text"
                        class="form-control" (focus)="focus=true" (blur)="focus=false"
                        placeholder="A few words about the work to do" #bookingdesc required></textarea>
                    </div>
                  </div>
                  <hr class="my-4" />

                  <app-googlemap></app-googlemap>              

                  <div class="formGroup">
                    <input type="button" class="btn btnPrimary" value="Booking"
                      (click)="setBooking(useremail.value,username.value,mobilenumber.value,bookingdesc.value,bookingdate.value,usercity.value,data.workername,data.email,data.mobile,data.rate)">
                  </div>
                </form>
              </div>
            </div>



          </div>
          <div class="modal-footer justify-content-center" >
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-danger">BOOK NOW</button> -->
          </div>
        </div>
      </div>
    </div>
 

    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <!-- <ngb-tabset [justify]="'center'">
          
          <ngb-tab title="Home">
            <ng-template ngbTabContent> -->

              <div class="container-fluid mt--7">
                <div class="row justify-content-md-center">
                  <div class="col-xl-3 md-6 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow" style="background-color:#ffffff">
                      <div class="row justify-content-center">
                        <div class="col-lg-12 order-lg-2">
                          <div class="card-profile-image">
                            <a href="javascript:void(0)">
                              <br>
                              <img class="mx-auto rounded-circle" src="{{data.image}}" width="150"
                                height="150">
                            </a>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="card-header text-center border-0 pt-0 pt-md-2 pb-0 pb-md-2" style="background-color:#dad4d4">
                        <div class="d-flex justify-content-between">
                          <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info mr-6">Connect</a>
                          <a href="javascript:void(0)" class="btn btn-sm btn-default mr-6">Message</a> -->
                        </div>
                      </div>
                      <div class="card-body pt-4">
                        <div class="row">
                          <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-2">
                              <div class="rating-block" justify-content-center >
                                <h4>Average user rating</h4>
                                <h2 class="bold padding-bottom-7">{{data.rate}}<small>/ 10</small></h2>
                              </div>  
                              <!-- <div>
                                <span class="heading"> Yes </span>
                                <span class="description"> Available </span>
                              </div>
                              <div>
                                <span class="heading"> 89 </span>
                                <span class="description"> Comments </span>
                              </div> -->
                            </div>
                          </div>
                        </div>
                        <div class="text-center">
                          <h3>
                            {{data.workername}}<span class="font-weight-light"></span>
                          </h3>
                          <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>{{data.email}}
                          </div>
                          <hr>
                          <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Mason
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!---------------------------------------------------------------------------------------------------------------->

                  <!---------------------------------------------------------------------------------------------------------------->

                  <div class="col-md-6">
                    <div class="section" id="carousel">
                      <div class="container">
                        <div class="card page-carousel">
                          <ngb-carousel>
                            <ng-template ngbSlide>
                              <img src="./assets/img/x.jpg" alt="Random first slide">
                              <div class="carousel-caption">
                                <p>Somewhere</p>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="./assets/img/y.jpg" alt="Random second slide">
                              <div class="carousel-caption">
                                <p>Somewhere else</p>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="./assets/img/w.jpg" alt="Random third slide">
                              <div class="carousel-caption">
                                <p>Here it is</p>
                              </div>
                            </ng-template>
                          </ngb-carousel>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- </ng-template>
          </ngb-tab> -->
<!-- 
          <div class="rating-block">
            <h4>Average user rating</h4>
            <h2 class="bold padding-bottom-7">{{data.rate}}<small>/ 10</small></h2> -->
<!-- 
          <ngb-tab title="Review">
            <ng-template ngbTabContent>

              <div class="container">

                <div class="row">
                  <div class="col-md-3">
                    
                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <h4>Rating breakdown</h4>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                            aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">1</div>
                    </div>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"
                            aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">1</div>
                    </div>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
                            aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                            <span class="sr-only">80% Complete (danger)</span>

                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">0</div>
                    </div>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1"
                            aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">0</div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <hr />
                    <div class="review-block">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                          <div class="review-block-name"><a href="#">nktailor</a></div>
                          <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                        </div>
                        <div class="col-sm-9">
                          <div class="review-block-rate">
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                          </div>
                          <div class="review-block-title">this was nice in buy</div>
                          <div class="review-block-description">this was nice in buy. this was nice in buy. this was
                            nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in
                            buy this was nice in buy</div>
                        </div>
                      </div>


                     
                    
                    </div>
                  </div>
                </div>

              </div>

            </ng-template>
          </ngb-tab>

 -->
        <!-- </ngb-tabset> -->
      </div>
    </div>

  </div>
</div>


