
<div class="container" style="margin-top: 5px">
  <table class="table">
    <thead>

      <tr class="table100-head">
        <th class="column2">User name</th>
        <th class="column1">Date</th>
        <th class="column2">Description</th>
        <th class="column2">mobile</th>
        <th class="column2">Area</th>
      </tr>

      <tr class="table100-data" *ngFor="let results of filteredNames">
        <td class="column1">{{results.username}}</td>
        <td class="column2">{{results.bookingdate}}</td>
        <td class="column4">{{results.bookingdesc}}</td>
        <td class="column3">{{results.mobilenumber}}</td>
        <td class="column6">{{results.usercity}}</td>

        <!-- <button type="button" class="btn btn-danger btn-sm" (click)="cancel(results.bookingid)">cancel</button> -->
      </tr>


    </thead>
  </table>
</div>



