<!--top nav bar-->
<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container">
      
      <div class="navbar-translate">
          <div class="avatar">
              <a class="navbar-brand" href="http://localhost:4200">                        
                  <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive" width="60">
              </a>
          </div>
      </div>

      <div class="navbar-translate">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
              </li>
              <li class="nav-item">
                  <div ngbDropdown class="d-inline-block dropdown">
                      <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>Options</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                          <a class="dropdown-item" [routerLink]="['/login']">Log-in</a>
                      </div>
                  </div>
              </li>
          </ul>   
      </div>

  </div>
</nav>
<br><br><br><br><br>

<!--page-->
<div class="container">
  <div *ngIf="carpenters?.length > 0; else noItems">
    <div class="container" style="margin-top: 70px;">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let carpenter of carpenters">
  
          <td>{{ carpenter.id }}</td>
          <td> {{ carpenter.username }}</td>
          <td> {{ carpenter.land }}</td>
          <td>
            <a [routerLink] = "['/profile',carpenter.id]" class="btn btn-primary" >Show details</a>
          </td>
        </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  
  <ng-template #noItems>
    <hr>
    <h1>There is no items</h1>
  </ng-template>
  </div>
