<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container">

    <div class="navbar-translate">
      <div class="avatar">
        <a class="navbar-brand" href="http://localhost:4200">
          <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
            width="60">
        </a>
      </div>
    </div>

    <div class="navbar-translate">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
        </li>
        
      </ul>
    </div>


  </div>
</nav>




<div class="page-header section-dark" style="background-image: url('assets/img/succesbook.jpg')">
  <div class="filter" ></div>
  <div class="content-center ">
    <div class="container ">
      <h1 style="color:white;" align="center">Booking Placed Succesfully</h1>
      <button [routerLink]="['/home']" class="btn btn-sm btn-info mr-3" >Go back to home</button>
    </div>
  </div>
</div>