<!--top nav bar-->
<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container">

    <div class="navbar-translate">
      <div class="avatar">
        <a class="navbar-brand" href="http://localhost:4200">
          <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
            width="60">
        </a>
      </div>
    </div>

    <div class="navbar-translate">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
                aria-hidden="true"></i>Options</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
              <a class="dropdown-item" [routerLink]="['/signin']">Log-in</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
<br>

<!--page-->
<div class="page-header section-dark" style="background-image: url('assets/img/reg.jpg');  background-attachment: fixed;">
        <!-- <div class="filter"></div> -->
<div class="content-center">
  <div class="container">
    <!-- </section> -->

    <div *ngIf="datas?.length > 0; else noItems">
      <div class="row" *ngIf="isReceived">
        <div class="col-md-6"  *ngFor="let data of datas">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>

                <div>
                  <img src="{{data.image}}"
                    class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                    style="width: 150px; height: 150px;">
                </div>

                <div class="pl-5">
                  <div class="row align-items-center justify-content-center">
                    <div>
                      
                      <br>
                      <h6 class="text-success">Name: {{ data.workername }}</h6>
                      <h6>Job: {{ data.jobType }} </h6>
                      <h6>District : Colombo     | Rating : {{data.rate}}    </h6>
                      <a (click)="checklog(data.uid)" class="btn btn-danger btn-sm">more details</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>