<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">

    <div class="navbar-translate">
      <div class="avatar">
        <a class="navbar-brand" href="http://localhost:4200">
          <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
            width="60">
        </a>
      </div>
    </div>

    <div class="navbar-translate">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"><i class="nc-icon nc-shop" aria-hidden="true"></i>&nbsp;Home</a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<!--sign up content-->
<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/z.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Welcome</h3>
            <div class="social-line text-center">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <form class="register-form">
              <label>E-Mail</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-check-2"></i>
                  </span>
                </div>
                <input name="email" type="text" class="form-control" placeholder="E mail Address" (focus)="focus=true"
                  (blur)="focus=false" #useremail required>
              </div>


              <label>Password</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input name="password_one" type="password" class="form-control" placeholder="Password"
                  (focus)="focus1=true" (blur)="focus1=false" #userPassword required>
              </div>


                <select name="Job type" #city required="">
                    <option *ngFor="let city of City" value={{city}} >{{city}}</option>
                </select>

              <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Log in"
                  (click)="authuService.SignIn(useremail.value, userPassword.value, city.value)">
              </div>
              <!--              <button type="submit" class="btn btn-danger btn-block btn-round">Login</button>-->
              <div class="forgot">
                <a href="#" class="btn btn-link btn-danger" [routerLink]="['/forgot-passwordu']">Forgot password?</a>
              </div>
              <h6>Dont have an account?<a [routerLink]="['/signupu']">signup</a></h6>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
