<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container">

    <div class="navbar-translate">
      <div class="avatar">
        <a class="navbar-brand" href="http://localhost:4200">
          <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
            width="60">
        </a>
      </div>
    </div>

    <div class="navbar-translate">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignOut()"> -->
          <button type="button" (click)="authService.SignOutWorker()" class="btn btn-danger">SIGN OUT</button>
          <!-- <a href="http://localhost:4200/#/booking"><button class="btn btn-danger pull-right" ><i class="fa fa-search"></i> BOOK WORKER</button></a> -->
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
        </li> -->
        <li class="nav-item">
          <!-- <div ngbDropdown class="d-inline-block dropdown">
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
            aria-hidden="true"></i>Options</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
          <a class="dropdown-item" [routerLink]="['/login']">Log-in</a>
        </div>
      </div> -->
        </li>


      </ul>
    </div>

  </div>
</nav>

<br><br><br><br><br><br>



<div class="content-center">
  <div class="container">

    <!--search bar-->
    <label>Filter</label>
    <!-- <section class="section section-lg section-hero section-shaped"> -->
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="nc-icon nc-email-85"></i>
            </span>
          </div>
          <input class="form-control" placeholder="Name" (focus)="focus=true" type="text" [(ngModel)]="username"
            (change)="filterName('username', username)">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="nc-icon nc-email-85"></i>
            </span>
          </div>

          <!-- <input class="form-control" placeholder="Status" (focus)="focus=true" type="text" [(ngModel)]="status"
            (change)="filterStatus('status', status)"> -->
          <div class="input-group-prepend">
            <span class="input-group-text">
            </span>
          </div>
        </div> <br>

        <button class="btn btn-danger" (click)="send()">Sort low to high</button><button class="btn btn-danger"
          (click)="send2()">Sort high to low</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container" style="margin-top: 5px">

  <table class="table">
    <thead>

      <tr class="table100-head">
        <th class="column2">Customer name</th>
        <th class="column1">Date</th>
        <th class="column2">Description</th>
        <th class="column2">mobile</th>
        <th class="column2">Area</th>
      </tr>

      <tr class="table100-data" *ngFor="let results of filteredNames">
        <td class="column1">{{results.username}}</td>
        <td class="column2">{{results.bookingdate}}</td>
        <td class="column4">{{results.bookingdesc}}</td>
        <td class="column3">{{results.mobilenumber}}</td>
        <td class="column6">{{results.usercity}}</td>
        <button type="button" class="btn btn-success btn-sm" (click)="confirm(results.bookingid)">confirm</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="cancel(results.bookingid)">cancel</button>


        <button type="button" class="btn btn-success btn-sm " data-toggle="modal" (click)="getMap(results.latitude,results.longitude)" data-target="#exampleModal">View
          Location</button>

      </tr>

    </thead>
  </table>
</div>


<!-- modal for google map -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog justify-content-center" role="document">
    <div class="modal-content" style="width: 800px;">
      <div class="modal-header" style="background-color:#fabf8f">
        <h5 class="modal-title" id="exampleModalLabel">Map Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div align="center">
          <div class="card-body">
            <!-- <h6 class="heading-small text-muted mb-0">Map Location</h6> -->
            <br>

            <!-- -------------------- -->

            <div class="container">

              <!-- <button class="btn btn-danger" (click)="setCurrentLocation()">Fetch my Location</button>
  <h6>Move the Pin where you want to </h6> -->

              <!--   
    <div class="form-group">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div> -->

              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false"
                  (dragEnd)="markerDragEnd($event)">
                  <agm-info-window>
                    <p>You are HERE!!</p>
                  </agm-info-window>
                </agm-marker>
              </agm-map>


              <h5>Address: {{address}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>
            </div>



          </div>
        </div>



      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-danger">BOOK NOW</button> -->
      </div>
    </div>
  </div>
</div>