<div *ngIf="datas?.length > 0; else noItems">
  <div *ngFor="let data of datas">

    <!--top nav bar-->
    <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
      <div class="container">

        <div class="navbar-translate">
          <div class="avatar">
            <a class="navbar-brand" href="http://localhost:4200">
              <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
                width="60">
            </a>
          </div>
        </div>

        <div class="navbar-translate">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <!-- <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignOut()"> -->
              <button type="button" (click)="authService.SignOutWorker()" class="btn btn-danger">SIGN OUT</button>
              <!-- <a href="http://localhost:4200/#/booking"><button class="btn btn-danger pull-right" ><i class="fa fa-search"></i> BOOK WORKER</button></a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home"><i class="nc-icon nc-align-center" aria-hidden="true"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
              <!-- <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
                aria-hidden="true"></i>Options</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
              <a class="dropdown-item" [routerLink]="['/login']">Log-in</a>
            </div>
          </div> -->
            </li>

            <li class="nav-item">
              <div ngbDropdown class="d-inline-block dropdown">
                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
                    aria-hidden="true"></i>Booking</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                  <a class="dropdown-item" [routerLink]="['/bookingworkernew',data.uid]">New Bookings</a>
                  <a class="dropdown-item" [routerLink]="['/ongoingworker',data.uid]">Ongoing Works</a>
                  <a class="dropdown-item" [routerLink]="['/completed',data.uid]">complete Works</a>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </nav>
    <br><br><br><br><br>
    <br>

    <!-- <div class="col-md-6"> -->
      <!-- <div class="card shadow mt-5"> -->
        <!-- <div class="card-body">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="ni ni-satisfied"></i>
              </div>
            </div>

            <div>
              <img src="./assets/img/faces/logo.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 150px; height: 150px;">
            </div>

            <div class="pl-5">
              <div class="row align-items-center justify-content-center">
                <div>
                  <br>
                  <h6 class="text-success">Name: {{ data.workername }}</h6>
                  <h6>Job: {{ data.jobType }} </h6>
                  <h6>District : Colombo | Rating : 4.6 </h6>
                  <button [routerLink]="['/update',value]" class="btn btn-sm btn-info mr-3">Update</button> -->
                  <!-- <a (click)="checklog(data.uid)" class="btn btn-danger btn-sm">more details</a> -->
                <!-- </div>
              </div>
            </div>

          </div>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <!-- <ngb-tabset [justify]="'center'">
          <ngb-tab title="My Profile"> -->
        <!-- <ng-template ngbTabContent> -->

        <div class="container-fluid mt--7 ">
          <div class="row justify-content-md-left">
            <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
              <div >
                <div class="row justify-content-center">
                  <div class="col-lg-12 order-lg-2">
                    <div class="card-profile-image">
                      <a href="javascript:void(0)">
                        <br>
                        <img class="mx-auto rounded-circle" src="assets/img/happy man.jpg" width="150" height="150">
                      </a>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card-header text-center border-0 pt-0 pt-md-2 pb-0 pb-md-2">
                  <div class="d-flex justify-content-center">
                    <button [routerLink]="['/update',value]" class="btn btn-sm btn-info mr-3">Update</button>
                    
                  </div>
                </div>
                <div class="card-body pt-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-2">

                        <div>
                          <span class="heading">8.7 </span>
                          <span class="description"> Rating </span>
                        </div>
                        <div>
                          <span class="heading"> Yes </span>
                          <span class="description"> Available </span>
                        </div>
                        <div>
                          <span class="heading"> 89 </span>
                          <span class="description"> Comments </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3>
                      {{data.workername}}<span class="font-weight-light">, 27</span>
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>{{data.email}}
                    </div>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>{{data.jobType}}
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-7" >
              <div class="justify-content-md-right" id="carousel">
                <div class="container ">
                  <div class="card page-carousel ">
                    <ngb-carousel>
                      <ng-template ngbSlide>
                        <img src="./assets/img/x.jpg" alt="Random first slide">
                        <div class="carousel-caption">
                          <p>Somewhere</p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="./assets/img/y.jpg" alt="Random second slide">
                        <div class="carousel-caption">
                          <p>Somewhere else</p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="./assets/img/w.jpg" alt="Random third slide">
                        <div class="carousel-caption">
                          <p>Here it is</p>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- </ng-template>
          </ngb-tab> -->

        <!-- <ngb-tab title="My Schedule">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab> -->

        <!-- <ngb-tab title="My Reviews">
            <ng-template ngbTabContent>
              <div class="container">

                <div class="row">
                  <div class="col-md-3">
                    <div class="rating-block">
                      <h4>Average user rating</h4>
                      <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <h4>Rating breakdown</h4>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                            aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">1</div>
                    </div>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"
                            aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">1</div>
                    </div>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
                            aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                            <span class="sr-only">80% Complete (danger)</span>

                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">0</div>
                    </div>
                    <div class="pull-left">
                      <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                      </div>
                      <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1"
                            aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                            <span class="sr-only">80% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="margin-left:10px;">0</div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <hr />
                    <div class="review-block">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                          <div class="review-block-name"><a href="#">nktailor</a></div>
                          <div class="review-block-date">January 29, 2016<br />1 day ago</div>
                        </div>
                        <div class="col-sm-9">
                          <div class="review-block-rate">
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                          </div>
                          <div class="review-block-title">this was nice in buy</div>
                          <div class="review-block-description">this was nice in buy. this was nice in buy. this was
                            nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in
                            buy this was nice in buy</div>
                        </div>
                      </div>




                    </div>
                  </div>
                </div>

              </div>

            </ng-template>
          </ngb-tab> -->


        <!-- </ngb-tabset> -->
      </div>
    </div>

  </div>
</div>