<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
    <div class="container">

      <div class="navbar-translate">
        <div class="avatar">
          <a class="navbar-brand" href="http://localhost:4200">
            <img src="./assets/img/faces/logo.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive"
              width="60">
          </a>
        </div>
      </div>

      <div class="navbar-translate">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignOut()"> -->
            <button type="button" (click)="authService.SignOutUser()" class="btn btn-danger">SIGN OUT</button>
            <!-- <a href="http://localhost:4200/#/booking"><button class="btn btn-danger pull-right" ><i class="fa fa-search"></i> BOOK WORKER</button></a> -->
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/home"><i class="nc-icon nc-align-center"
                aria-hidden="true"></i>&nbsp;Reports</a>
          </li>
            -->
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block dropdown">
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
                  aria-hidden="true"></i>Bookings</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                <a class="dropdown-item" [routerLink]="['/userpending',data.uid]">Pending</a>
                <a class="dropdown-item" [routerLink]="['/userongoing',data.uid]">Ongoing</a>
                <a class="dropdown-item" [routerLink]="['/usercompleted',data.uid]">Rate worker</a>
                <a class="dropdown-item" [routerLink]="['/rated',data.uid]">Completed</a>
              </div>
            </div>
          </li>

          <!-- <li class="nav-item">
            <div ngbDropdown class="d-inline-block dropdown">
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
                  aria-hidden="true"></i>Notifications</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                <a class="dropdown-item" [routerLink]="['/viewmessages']">Site messages</a>

              </div>
            </div>
          </li> -->

          <li class="nav-item">
            <div ngbDropdown class="d-inline-block dropdown">
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65"
                  aria-hidden="true"></i>Options</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                <!-- <a class="dropdown-item" [routerLink]="['/signup']">add user</a> -->
                <a class="dropdown-item" [routerLink]="['/edituserprofile',data.email]"><i
                    class="nc-icon nc-single-02" aria-hidden="true"></i> Edit my
                  profile</a>
                <!-- <a class="dropdown-item" [routerLink]="['/addshops']">add shops</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/addcompanies']">add companies</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/verifyworker']">verify worker</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/signin']">sign out</a> -->
              </div>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </nav>



<br><br><br><br><br><br>
<div class="page-header section-dark" style="background-image: url('assets/img/succesbook.jpg');  background-attachment: fixed;">
    <!-- <div class="filter"></div> -->
<div class="container" style="color: rgb(255, 255, 255);">
    

      <form #exampleForm="ngForm" (ngSubmit)="onUpdate(exampleForm)" >
          <div *ngIf="datas?.length > 0; else noItems">
              <div *ngFor="let data of datas">
                  <h1><b>{{data.username}}</b> Profile</h1>
          <input type="hidden" name="uid" [(ngModel)]="data.uid" class="form-control">
          <div class="form-group">
              <label>user Name</label>
              <input name="username" [(ngModel)]="data.username" class="form-control">
          </div>
          <div class="form-group">
              <label>ID Number</label>
              <input name="idNumber" [(ngModel)]="data.idNumber" class="form-control">
          </div>
          <div class="form-group">
              <label>Mobile</label>
              <input name="mobile" [(ngModel)]="data.mobile" class="form-control">
          </div>
          <div class="form-group">
              <label>E-Mail</label>
              <input name="email" [(ngModel)]="data.email" class="form-control">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-default btn-group-vertical ">Save</button>
          </div>
                  <div class="form-group">
                      <button (click)="delete(data.email)" class="btn btn-danger btn-group-vertical ">Delete</button>
                  </div>
              </div>
          </div>
      </form>

</div>
